:root {
    --orange: #e5a00d;   
}
    body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-image: url("./images/saul.jpg");
    background-color: #cccccc;
    background-position: center;
}

.content {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    text-align: center; /* Optional: Center text inside content div */
    height: 10%; /* Adjust based on your header/footer height */
    text-color: #FFF;
}

h1 {
    font-size: 100px;
    margin-bottom: 50px;
    color: var(--orange);
    text-align: center;
    width: 100%;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px; /* Consistent gap for all devices */
}

.button-wrapper {
    margin: 10px; /* Margin to separate buttons */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 200px;
    max-height: 150px;
}

.caption {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    color: var(--orange);
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

 /* Style to make the image links look like buttons */
.donate-button {
    position: fixed;
    bottom: 0; 
    margin: 10px;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    gap: 10px;
    box-sizing: border-box;
    }

.donate-button img {
        width: 150px; /* Adjust size as needed */
    }

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #000;
}

/* Responsive design for small screens */
@media (max-width: 600px) {
    h1 {
        font-size: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .button-wrapper {
        width: 100%;
        max-width: 300px;
        margin: 10px 0; /* Maintain spacing on mobile */
    }

    .button {
        font-size: 18px;
        padding: 10px 20px;
    }

    .donate-button img {
        width: 100px;
    }
}
